#modalContent h1,
#modalContent h2,
#modalContent h3,
#modalContent h4,
#modalContent h5,
#modalContent h6,
.itemid_form h1,
.itemid_form h2,
.itemid_form h3,
.itemid_form h4,
.itemid_form h5,
.itemid_form h6,
#result h1,
#result h2,
#result h3,
#result h4,
#result h5,
#result h6
{
  margin: 0;
  padding: 0;
}

.font-purple {
  color: #a417fa;
}
.font-larger {
  font-size: larger;
}
.font-smaller {
  font-size: smaller;
}
.font-xsmall {
  font-size: x-small;

}
#modalContent h1, 
.itemid_form h1,
#result h1
{
  font-size: larger;
  font-weight: 600;
}

.itemid_form input[type="text"] {
  width: 70%;
  padding: 5px;
  margin-right: 5px;
}

#modalContainer {
  position: relative;
}

#modalContent button,
.itemid_form button
 {
  padding: 5px 10px;
  padding: 5px 10px;
  background: #dedede;
  border-radius: 4px;
}

#modalContent .dli-chevron-round-left {
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  line-height: 1;
  position: relative;
  width: 0.5em;
  height: 0.5em;
  transform: translateX(25%) rotate(-135deg);
  margin-right: 5px;
}

.dli-chevron-round-left::before, .dli-chevron-round-left::after {
  content: '';
  position: absolute;
  background: currentColor;
  border-radius: 0.1em;
}

.dli-chevron-round-left::before {
  top: 0;
  left: 0;
  right: 0;
  height: 0.1em;
}

.dli-chevron-round-left::after {
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.1em;
}

#modalContent li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
}

#modalContent li div, #modalContent li div span{
  text-wrap: nowrap;
}

#modalContent li img {
  width: 45px;
  height: auto;
  margin-right: 10px;
}

#result {
  margin-top: 20px;
}

#modalContent .equip_image,
#result .equip_image 
{
  width: 120px;
  max-width: unset !important;
  display: inline-block;
}

#modalContent .main_info,
#result .main_info 
{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

#modalContent .main_info__text,
#result .main_info__text 
{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: -4px;
}


#modalContent .tag,
#result .tag 
{
  background: #ddd;
  border-radius: 8px;
  padding: 4px 10px;
  font-weight: bold;
  font-size: 80%;
}

#modalContent .name,
#result .name 
{
  order: 1;
  width: 80%;
}

#modalContent .numbering,
#result .numbering 
{
  order: 2;
  flex: 1;
  text-align: right;
  font-weight: bold;
  font-size: larger;
}

#modalContent .item_id,
#result .item_id 
{
  opacity: 0.7;
}

#modalContent .main_info .item_id,
#result .main_info .item_id 
{
  order: 3;
  width: 100%;
}

#modalContent .main_info .job,
#result .main_info .job 
{
  order: 3;
  width: 100%;
}

#modalContent .rarity,
#result .rarity 
{
  order: 4;
}
#modalContent .item_type,
#result .item_type 
{
  order: 5;
}
#modalContent .parts_type,
#result .parts_type 
{
  order: 6;
}
#modalContent .level,
#result .level 
{
  order: 7;
}

#modalContent .sales_info,
#result .sales_info 
{
  order: 8;
}

#modalContent .attr_list,
#result .attr_list 
{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#modalContent .attr_value,
#result .attr_value 
{
  font-weight: 500;
}

#modalContent .attr_resist,
#result .attr_resist 
{
  display: inline-block;
  margin-right: 10px;
}

#modalContent .grid_span2,
#result .grid_span2 
{
  grid-column: span 2;
}

#modalContent .attr_semibold,
#result .attr_semibold
{
  font-weight: 500;
}