#modalContent h1,
#modalContent h2,
#modalContent h3,
#modalContent h4,
#modalContent h5,
#modalContent h6,
.itemid_form h1,
.itemid_form h2,
.itemid_form h3,
.itemid_form h4,
.itemid_form h5,
.itemid_form h6,
#result h1,
#result h2,
#result h3,
#result h4,
#result h5,
#result h6
{
  margin: 0;
  padding: 0;
}

.text-purple{
  color: #a417fa;
}
#modalContent h1, 
.itemid_form h1,
#result h1
{
  font-size: larger;
  font-weight: 600;
}

.itemid_form input[type="text"] {
  width: 70%;
  padding: 5px;
  margin-right: 5px;
}

#modalContent {
  position: relative;
}

#modalContent button,
.itemid_form button
 {
  padding: 5px 10px;
}

#result {
  margin-top: 20px;
}

#modalContent .equip_image,
#result .equip_image 
{
  width: 100px;
  display: inline-block;
}

#modalContent .main_info,
#result .main_info 
{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

#modalContent .main_info__text,
#result .main_info__text 
{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


#modalContent .tag,
#result .tag 
{
  background: #ddd;
  border-radius: 8px;
  padding: 5px 10px;
  font-weight: bold;
}
#modalContent .name,
#result .name 
{
  order: 1;
  width: 80%;
}

#modalContent .numbering,
#result .numbering 
{
  order: 2;
  flex: 1;
  text-align: right;
  font-weight: bold;
  font-size: larger;
}

#modalContent .rarity,
#result .rarity 
{
  order: 3;
}
#modalContent .item_type,
#result .item_type 
{
  order: 4;
}
#modalContent .parts_type,
#result .parts_type 
{
  order: 5;
}

#modalContent .attr_list,
#result .attr_list 
{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#modalContent .attr_value,
#result .attr_value 
{
  font-weight: 500;
}

#modalContent .attr_resist,
#result .attr_resist 
{
  display: inline-block;
  margin-right: 10px;
}

#modalContent .grid_span2,
#result .grid_span2 
{
  grid-column: span 2;
}

#modalContent .attr_semibold,
#result .attr_semibold
{
  font-weight: 500;
}